body{
	background-color: #040F7F;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

#loginB, #rememberMe{
	background-color: black;
	color: white;
	border: 1px solid #4FB1FF;
	font-size:16px;
}

#loginB:hover, #rememberMe:hover{
	background-color: #97CBFF;
	color: black;
}

#container{
	width: auto;
	text-align: center;
}

#photo{
	width: 50%;
	height: 400px;
	margin: 0 auto;
	position: relative;
	background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/beach-painting-summer-beach-vacation-jan-matson.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}